<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>热骋汽车</title>
    <base href="/hotCheng/" />
    <style>
        *{padding: 0;margin: 0;}
        .main{width: 50%;height: auto;position: absolute;z-index:1;top:25%;left:25%;}
        .main a{display: block;width: 100%;height: 3rem;line-height: 3rem;text-align: center;text-decoration: none;font-size: 1.4rem;border-radius: 8px;color: #fff;background: #fff;color:#007bff;}
        .main a:first-child{margin-bottom: 20px;background: #007bff;color: #fff;}

        .body_bg{position: absolute;width:100%;height:100%;z-index:0;top:0;left:0;}
 

    </style>
</head>

<body>

<img src="static/images/onlineLogo.png" class="body_bg"/>

<div class="main">
    <a href="view/page/queryCarVinCode.html">vin码搜车</a>
     <a href="view/page/brandSelectCar.html">品牌选车</a>
</div>

</body>
</html>