
<!Doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>查询结果</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	 <base href="/hotCheng/" />
	    <link href="static/mui/css/mui.min.css" rel="stylesheet" />
	 <link rel="stylesheet" href="static/css/bootstrap.min.css">
	 <script src="static/mui/js/mui.min.js"></script>
	 <script src="static/js/jquery-1.9.1.min.js"></script>
	 <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	 <script src="static/js/tool.js"></script>     
	 <script src="static/js/template.js"></script>
	 <style>
	 *{padding:0;margin:0;}
	 /* table{border:1px solid ##888888;width:100%;margin:3% 0;border-collapse:collapse;box-shadow: 0 0 5px #888888;border-radius:8px;background:#fff;}
	 table:first-child{margin-top:0;}
	 table tr td{line-height:23px;width:60%;padding:3px 0;border-bottom:1px solid #ddd;}
	 table tr td span{padding:4px 10px;display:inline-block;width:70%;}
	 table tr td:first-child{text-align:right;width:38%;padding:0 2%;}
	 table tr td.center{text-align:center;width:100%;padding:2px 0;} */
	 
	 .title{background:#3697fd;color:#fff;text-align:center;font-size:16px;line-height:40px;}
	 .table-responsive{width:100%;}
	 .table>tbody>tr:first-child>td{border-top:0;text-align: center;}
	 
	 
	 
	 </style>
    </head>
      <script id="que_rec" type="text/html">
		{{each list as value j}}
	       <table class="table" style="margin:0;">
					<tbody>
                    <tr><td colspan="2" class='center'>{{list[j].carBrand}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].carForm}}&nbsp;&nbsp;&nbsp;{{list[j].carOutput}}<br />{{list[j].carYear}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].saleName}}</td></tr>
					<tr><td>厂家:</td><td><span>{{list[j].fatory}}</span></td></tr>
					<tr><td>排放标准:</td><td><span>{{list[j].outputStand}}</span></td></tr>
					<tr><td>发动机型号:</td><td><span>{{list[j].engineType}}</span></td></tr>
					<tr><td>进气形式:</td><td><span>{{list[j].gasForm}}</span></td></tr>
					<tr><td>燃油标号:</td><td><span>{{list[j].gasGrade}}</span></td></tr>
					<tr><td>气缸数(个):</td><td><span>{{list[j].cylinderNum}}</span></td></tr>
					<tr><td>变速箱型号:</td><td><span>&nbsp;</span></td></tr>
					<tr><td>变速器描述:</td><td><span>{{list[j].shiftMemo}}</span></td></tr>
					<tr><td>档位数:</td><td><span>{{list[j].gearsNum}}</span></td></tr>
					<tr><td>前制动器类型:</td><td><span>{{list[j].prefixBrakingType}}</span></td></tr>
					<tr><td>后制动器类型:</td><td><span>{{list[j].suffixBrakingType}}</span></td></tr>
					<tr><td>助力类型:</td><td><span>{{list[j].assistanceType}}</span></td></tr>
					<tr><td>轴距(mm):</td><td><span>{{list[j].wheelbase}}</span></td></tr>
					<tr><td>前轮胎规格:</td><td><span>{{list[j].preffixTyreScale}}</span></td></tr>
					<tr><td>后轮胎规格:</td><td><span>{{list[j].suffixTyreScale}}</span></td></tr>
 	             </tbody>	
	 	  	</table>
	     {{/each}}
	</script>
	
	   <script id="good_rec" type="text/html">
		{{each list as value j}}
	       <table class="table" style="margin:0;">
					<tbody>
                    <tr><td colspan="2" class='center'>{{list[j].carBrand}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].carForm}}&nbsp;&nbsp;&nbsp;{{list[j].carOutput}}<br />{{list[j].carYear}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].saleName}}</td></tr>
					<tr><td>产品A:</td><td><span>&nbsp;{{list[j].goodA}}</span></td></tr>
					<tr><td>产品B:</td><td><span>&nbsp;{{list[j].goodB}}</span></td></tr>
					<tr><td>产品C:</td><td><span>&nbsp;{{list[j].goodC}}</span></td></tr>
					<tr><td>产品D:</td><td><span>&nbsp;{{list[j].goodD}}</span></td></tr>
					<tr><td>产品E:</td><td><span>&nbsp;{{list[j].goodE}}</span></td></tr>
					<tr><td>产品F:</td><td><span>&nbsp;{{list[j].goodF}}</span></td></tr>
					<tr><td>产品G:</td><td><span>&nbsp;{{list[j].goodG}}</span></td></tr>
			
 	             </tbody>	
	 	  	</table>
	     {{/each}}
	</script>
	
  <body style="background:#f2f2f2;">
  <div>
          <p class='title'>车型匹配的结果</p>
	    <div class="container table-responsive" id="ngkQueRec">	           
	    </div>	
	    	<div class="mui-button-row">
					 <button type="button" class="btn btn-primary"  data-toggle="modal" id="carTypeSelect" data-target="#tableGoodModal">
	                        	产品搜配
	                    </button>
					</div>
 <!--预览模态框（Modal） -->
   <div class="modal fade" id="tableGoodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	 <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					产品匹配结果
				</h4>
			</div>
			<div class="modal-body" style="height:95%;width:100%;" >
					  <div class="container table-responsive" id="goodRecDiv">	  
			     
	 		        </div>	
					
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>				
			</div>
		   </div><!-- /.modal-content -->
	        </div><!-- /.modal -->
		      </div>
	   </div>
</body>

<script>
$(document).ready(function(e) {
	var lyId=localStorage.getItem("lyId");
	findCarGood(lyId);
});

$('#carTypeSelect').click(function(){
	var lyId=localStorage.getItem("lyId");
	queGoods(lyId);
});

function queGoods(lyId){
	var url =basUrl+"/CarStyle/queryCarGoodByid.action";
	$.ajax({  
        url: url,
        type: 'POST',  
        data : {
        lyId:lyId
		},  
        timeout : 10000, //超时时间设置，单位毫秒
        async: false,  
        success: function (result) {
        	var rec=JSON.parse(result);
        	var res=rec.data.res;
        	var rowList = new Array(res.length);
        	for(var i=0;i<rowList.length;i++){
				rowList[i]=res[i]
			}
        	document.getElementById("goodRecDiv").innerHTML =template("good_rec", {
				list: rowList
			});
       	},  
        error: function (returndata) {
        
        }
       	
		});
};

//加载对应的车型产品
function findCarGood(lyId){
	var url =basUrl+"/CarStyle/queryCarGoodByid.action";
	$.ajax({  
        url: url,
        type: 'POST',  
        data : {
        lyId:lyId
		},  
        timeout : 10000, //超时时间设置，单位毫秒
        async: false,  
        success: function (result) {
        	var rec=JSON.parse(result);
        	var res=rec.data.res;
        	var rowList = new Array(res.length);
        	for(var i=0;i<rowList.length;i++){
				rowList[i]=res[i]
			}
        	document.getElementById("ngkQueRec").innerHTML =template("que_rec", {
				list: rowList
			});
       	},  
        error: function (returndata) {
        
        }
       	
		});
};
</script>
</html>