<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <base href="/hotCheng/" />
		<!--标准mui.css-->
		<link rel="stylesheet" href="static/mui/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="static/mui/css/app.css" />
		<style>
			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			
			.mui-col-xs-3,
			.mui-col-xs-9 {
				overflow-y: auto;
				height: 100%;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}
			
			.mui-control-content {
				display: block;
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
			
			.title {
				padding: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
				background-color: #fff;
			}
			.homeIcon img{width: 100%; }						
			.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{font-size: 12px; margin-top: 0;}		    		    		  		    
		    .mui-grid-view.mui-grid-9 .mui-table-view-cell{width:33%;padding:5px 0;border:none;}	    		    	    
		    .homeIcon{ width: 45%; margin: 0 auto;}
		</style>
		
		
	</head>

	<body style="background:url('static/images/onlineLogo.jpg');">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">分类</h1>
		</header>
		<div class="mui-content mui-row mui-fullscreen">
			<div class="mui-col-xs-3">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
					<a class="mui-control-item" data-index="0"  href="#content0" > 制动片 </a>
					<a class="mui-control-item" data-index="1"  href="#content1" > 制动盘 </a>
					<a class="mui-control-item" data-index="2"  href="#content2" > 火花塞 </a>
					<a class="mui-control-item" data-index="3"  href="#content3" > 医疗卫生 </a>
					<a class="mui-control-item" data-index="4"  href="#content4" > 空气滤芯 </a>
					<a class="mui-control-item" data-index="5"  href="#content5" > 油品滤芯 </a>
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc;">
			<!--content0 ---->
			<div id="content0" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="../0_wisdom/remoteCar/remoteCarMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/CTbus.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">长途汽车</div>
						</a>
					</li>
					<li head="../0_wisdom/bus/busMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applymeet">
							<div class="homeIcon">
								<img src="static/mui/images/bus.png"/>
								<span class="mui-icon"><span class="mui-badge" id="2" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">公交出行</div>
						</a>
					</li>					
					<li head="../0_wisdom/carService/carMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/CLservice.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">车辆服务</div>
						</a>
					</li>
					<li head="../0_wisdom/trafficIegal/trafficIegalMain.html"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/CJweifa.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">交通违法</div>
						</a>
					</li>
					<li head="../0_wisdom/trafficAccident/trafficAccidentMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/JTshigu.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">交通事故</div>
						</a>
					</li>															
				</ul>
			</div>
		<!--content1 ---->
			<div id="content1" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/SJchongzhi.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">手机充值</div>
						</a>
					</li>
					<li head="../1_lifeService/waterService/waterServiceMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applymeet">
							<div class="homeIcon">
								<img src="static/mui/images/news.png"/>
								<span class="mui-icon"><span class="mui-badge" id="2" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">用水服务</div>
						</a>
					</li>					
					<li head="../1_lifeService/gasService/gasServiceMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/RQchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">用气服务</div>
						</a>
					</li>
					<li head="../1_lifeService/lifePay/lifePayMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/SHjiaofei.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">生活缴费</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/MFwifi.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">免费WiFi</div>
						</a>
					</li>
					<li head="../1_lifeService/siteQuery/siteQueryMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="operate">
							<div class="homeIcon">
								<img src="static/mui/images/WZchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="7" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">位置查询</div>
						</a>
					</li>	
					<li head="../wantSnap/mySnap.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/SSpaizhao.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">随手拍</div>
						</a>
					</li>
					<li head="../1_lifeService/environment/environmentMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="operate">
							<div class="homeIcon">
								<img src="static/mui/images/monitor.png"/>
								<span class="mui-icon"><span class="mui-badge" id="7" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">环境气象</div>
						</a>
					</li>	
				</ul>
			</div>
		<!--content2 ---->
			<div id="content2" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="../2_culture/primarySchool/primaryMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/ZGzhengshu.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">小学报名</div>
						</a>
					</li>
					<li head="../2_culture/schoolDistrict/schoolDistirctMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applymeet">
							<div class="homeIcon">
								<img src="static/mui/images/ishenhua.png"/>
								<span class="mui-icon"><span class="mui-badge" id="2" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">学区查询</div>
						</a>
					</li>					
					<li head="../2_culture/scoreQuery/middleSchoolExam.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/CJchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">成绩查询</div>
						</a>
					</li>
					<li head="../2_culture/qualityCertificate/qualityCertificateQue.html"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/XXbaoming.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">资格证书</div>
						</a>
					</li>
					<li head="../2_culture/academicQuery/academicQuery.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/XLchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">学历查询</div>
						</a>
					</li>
					<li head=""  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/region.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">网上图书馆</div>
						</a>
					</li>
					<li head="../2_culture/hfEveningPaper/hfEveningPaper.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/meal.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">合肥晚报</div>
						</a>
					</li>	
				</ul>
			</div>
		<!--content3 ---->
			<div id="content3" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="../3_medical/reserveRegister/reserveRegisterMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/notice.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">预约挂号</div>
						</a>
					</li>	
					<li head="../3_medical/reserveRegister/smartGuide.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/ZNdaozhen.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">智能导诊</div>
						</a>
					</li>	
					<li head="../3_medical/reserveRegister/healthWelfare.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/record.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">健康福利</div>
						</a>
					</li>
					<li head="../3_medical/reserveRegister/healthInfo.html"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/JKzixun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">健康资讯</div>
						</a>
					</li>				
				</ul>
			</div>
		<!--content4 ---->
			<div id="content4" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/FCchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">房产查询</div>
						</a>
					</li>
					<li head="../4_comprehensive/laborCareer/laborCareerMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applymeet">
							<div class="homeIcon">
								<img src="static/mui/images/LDjiuye.png"/>
								<span class="mui-icon"><span class="mui-badge" id="2" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">劳动就业</div>
						</a>
					</li>					
					<li head="../4_comprehensive/infoReport/infoReportMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/XXjubao.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">信息举报</div>
						</a>
					</li>
					<li head="../4_comprehensive/payTaxes/payTaxesMain.html"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/JSchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">缴税查询</div>
						</a>
					</li>					
				</ul>
			</div>
		<!--content5 ---->
			<div id="content5" class="mui-slider-item">
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li head="../5_govern/exitEntry/exitEntryMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applycar">
							<div class="homeIcon">
								<img src="static/mui/images/CJrujing.png"/>
								<span class="mui-icon"><span class="mui-badge" id="1" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">出境入境</div>
						</a>
					</li>
					<li head="../5_govern/houseHold/houseHoldMain.html" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="applymeet">
							<div class="homeIcon">
								<img src="static/mui/images/HZbanli.png"/>
								<span class="mui-icon"><span class="mui-badge" id="2" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">户政办理</div>
						</a>
					</li>					
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="record">
							<div class="homeIcon">
								<img src="static/mui/images/YLweisheng.png"/>
								<span class="mui-icon"><span class="mui-badge" id="4" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">医疗卫生</div>
						</a>
					</li>
					<li id="dotPatrolApp"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/SBka.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">社保</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/ZFgongjijin.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">住房公积金</div>
						</a>
					</li>
					<li id="dotPatrolApp"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/SMrexian.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">市民热线</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/ZFyouxiang.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">政府信箱</div>
						</a>
					</li>	
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/HYdengji.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">婚姻登记</div>
						</a>
					</li>
					<li id="dotPatrolApp"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/NSzhengming.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">纳税证明开具</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/XYchaxun.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">信用查询</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/CJzheng.png"/>
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">残疾证</div>
						</a>
					</li>
					<li id="dotPatrolApp"  class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="region">
							<div class="homeIcon">
								<img src="static/mui/images/YLjin.png"/>
								<span class="mui-icon"><span class="mui-badge" id="5" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">养老金</div>
						</a>
					</li>
					<li head="" class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
						<a open-type="common" id="monitor">
							<div class="homeIcon">
								<img src="static/mui/images/LNzheng.png"/> 
								<span class="mui-icon"><span class="mui-badge" id="6" style="display: none;"></span></span>
							</div>
							<div class="mui-media-body">老年证</div>
						</a>
					</li>	
				</ul>  
			</div>
		</div>
		<script src="static/mui/js/mui.min.js"></script>   
	 <script src="static/js/jquery-1.9.1.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			var controls = document.getElementById("segmentedControls");
			var contents = document.getElementById("segmentedControlContents");
			var html = [];
			var i = 1,
				j = 1,
				m = 16, //左侧选项卡数量+1
				n = 21; //每个选项卡列表数量+1
			for (; i < m; i++) {
				html.push('<a class="mui-control-item" data-index="' + (i - 1) + '" href="#content' + i + '">选项' + i + '</a>');
			}
			//controls.innerHTML = html.join('');
			html = [];
			for (i = 1; i < m; i++) {
				html.push('<div id="content' + i + '" class="mui-control-content"><ul class="mui-table-view">');
				for (j = 1; j < n; j++) {
					html.push('<li class="mui-table-view-cell">第' + i + '个选项卡子项-' + j + '</li>');
				}
				html.push('</ul></div>');
			}
			//contents.innerHTML = html.join('');
			//默认选中第一个
			controls.querySelector('.mui-control-item').classList.add('mui-active');
//			contents.querySelector('.mui-control-content').classList.add('mui-active');
			(function() {
				var controlsElem = document.getElementById("segmentedControls");
				var contentsElem = document.getElementById("segmentedControlContents");
				var controlListElem = controlsElem.querySelectorAll('.mui-control-item');
				//var contentListElem = contentsElem.querySelectorAll('.mui-control-content');
				var contentListElem = contentsElem.querySelectorAll('.mui-slider-item');
				var controlWrapperElem = controlsElem.parentNode;
				var controlWrapperHeight = controlWrapperElem.offsetHeight;
				var controlMaxScroll = controlWrapperElem.scrollHeight - controlWrapperHeight;//左侧类别最大可滚动高度
				var maxScroll = contentsElem.scrollHeight - contentsElem.offsetHeight;//右侧内容最大可滚动高度
				var controlHeight = controlListElem[0].offsetHeight;//左侧类别每一项的高度
				var controlTops = []; //存储control的scrollTop值
				var contentTops = [0]; //存储content的scrollTop值
				var length = contentListElem.length;
				for (var i = 0; i < length; i++) {
					controlTops.push(controlListElem[i].offsetTop + controlHeight);
				}
				for (var i = 1; i < length; i++) {
					var offsetTop = contentListElem[i].offsetTop;
					if (offsetTop + 100 >= maxScroll) {
						var height = Math.max(offsetTop + 100 - maxScroll, 100);
						var totalHeight = 0;
						var heights = [];
						for (var j = i; j < length; j++) {
							var offsetHeight = contentListElem[j].offsetHeight;
							totalHeight += offsetHeight;
							heights.push(totalHeight);
						}
						for (var m = 0, len = heights.length; m < len; m++) {
							contentTops.push(parseInt(maxScroll - (height - heights[m] / totalHeight * height)));
						}
						break;
					} else {
						contentTops.push(parseInt(offsetTop));
					}
				}
				contentsElem.addEventListener('scroll', function() {
					var scrollTop = contentsElem.scrollTop;
					for (var i = 0; i < length; i++) {
						var offsetTop = contentTops[i];
						var offset = Math.abs(offsetTop - scrollTop);
//						console.log("i:"+i+",scrollTop:"+scrollTop+",offsetTop:"+offsetTop+",offset:"+offset);
						if (scrollTop < offsetTop) {
							if (scrollTop >= maxScroll) {
								onScroll(length - 1);
							} else {
								onScroll(i - 1);
							}
							break;
						} else if (offset < 20) {
							onScroll(i);
							break;
						}else if(scrollTop >= maxScroll){
							onScroll(length - 1);
							break;
						}
					}
				});
				var lastIndex = 0;
				//监听content滚动
				var onScroll = function(index) {
					if (lastIndex !== index) {
						lastIndex = index;
						var lastActiveElem = controlsElem.querySelector('.mui-active');
						lastActiveElem && (lastActiveElem.classList.remove('mui-active'));
						var currentElem = controlsElem.querySelector('.mui-control-item:nth-child(' + (index + 1) + ')');
						currentElem.classList.add('mui-active');
						//简单处理左侧分类滚动，要么滚动到底，要么滚动到顶
						var controlScrollTop = controlWrapperElem.scrollTop;
						if (controlScrollTop + controlWrapperHeight < controlTops[index]) {
							controlWrapperElem.scrollTop = controlMaxScroll;
						} else if (controlScrollTop > controlTops[index] - controlHeight) {
							controlWrapperElem.scrollTop = 0;
						}
					}
				};
				//滚动到指定content
				var scrollTo = function(index) {
					contentsElem.scrollTop = contentTops[index];
				};
				mui(controlsElem).on('tap', '.mui-control-item', function(e) {
					scrollTo(this.getAttribute('data-index'));
					return false;
				});
			})();
			
			//打开对应的连接
		mui("#segmentedControlContents").on('tap', 'li', function() {
		var head = this.getAttribute('head');
		var appName= $(this).find("div.mui-media-body").eq(0).text();
		 if(head != null && head != '' ) {			
				mui.openWindow({
					id: head,
					url: head,
					show: {
						autoShow: true
					},
					waiting: {
						autoShow: true,
						title: '正在加载...'
					}
				});
		 }else{
		 	mui.toast(appName+" 功能正在开发之中，敬请期待");
		 }
	  });
		</script>

	</body>

</html>