<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">		
		<title></title>
		<base href="/hotCheng/" />

		<link href="static/mui/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="static/css/common.css">
		<link rel="stylesheet" href="static/css/index.css">
		<link rel="stylesheet" href="static/css/product.css" />		
	  		<script type="text/javascript" src="static/js/plugin/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="static/js/plugin/touchslider.js"></script>
		<script src="static/js/tool.js"></script> 
		<script src="static/js/template.js"></script>
		<script type="text/javascript" src="static/layer/layer.js"></script>

		<style>
		.mui-btn-block {
	    font-size: 14px;
	    display: block;
	    width: 93%;
	    margin-bottom: 10px;
	    padding: 0px 2%;
	    padding: 5px 1px 1px 4%;
		}
		.selectDisplay{
		  display:none;
		}
		
		.mui-btn, button, input[type=button], input[type=reset], input[type=submit] {
		line-height: 1.42;
		}
		.h3{
	    width: 100%;
	    display: block;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    color: #666;
	    font-weight: normal;
		}
		.table-responsive{width:100%;}
		.table{
		 margin-bottom: 2px;
		 margin-top: 2px;
		}
	   .table>tbody>tr:first-child>td{ text-align: center;border: 0;}	   		
		
		</style>
		
	 <script id="preB_bf" type="text/html">
{{each list as value j}}
	   <tr>
								<td>宝丰编码：</td>
								<td>{{list[j].fBfBrake}}</td>
		</tr>
 {{/each}}   
	</script>	
	 <script id="sufB_bf" type="text/html">
{{each list as value j}}
	   <tr>
								<td>宝丰编码：</td>
								<td>{{list[j].rBfBrake}}</td>
		</tr>
 {{/each}}   
	</script>	
	
	 <script id="preB_bds" type="text/html">
{{each list as value j}}
	   <tr>
								<td>奔德士编码：</td>
								<td>{{list[j].fBdsBrake}}</td>
		</tr>
 {{/each}}   
	</script>	
	 <script id="sufB_bds" type="text/html">
{{each list as value j}}
	   <tr>
								<td>奔德士编码：</td>
								<td>{{list[j].rBdsBrake}}</td>
		</tr>
 {{/each}}   
	</script>	
	 <script id="rh_ls" type="text/html">
{{each list as value j}}
	  <tr>
								<td>AVIA编码：</td>
								<td>{{list[j].avia}}</td>

		</tr>
  <tr>
								<td>机油保养加注量：</td>
								<td>{{list[j].oilFill}}</td>

		</tr>
 {{if   list[j].jybz !=null && list[j].jybz!='' }}
  		<tr>
								<td>备注：</td>
								<td>{{list[j].jybz}}</td>

		</tr>
{{/if}} 
 {{/each}}   
	</script>	
	 <script id="bsx_ls" type="text/html">
{{each list as value j}}
	   <tr>
								<td>AVIA编码：</td>
								<td>{{list[j].aviaBsxypXh}}</td>
		</tr>
 {{if   list[j].bsxbz !=null && list[j].bsxbz!='' }}
 			<tr>
								<td>备注:</td>
								<td>{{list[j].bsxbz}}</td>
		</tr>
{{/if}} 

 {{/each}}   
	</script>	
	
		 <script id="dc_rec" type="text/html">
{{each list as value j}}
	   <tr>
								<td>电池编码：</td>
								<td>{{list[j].batteryProduct}}</td>
		</tr>
 		<tr>
								<td>备注：</td>
								<td>{{list[j].batteryRemark}}</td>
		</tr>
 {{/each}}   
	</script>	
	
	<script id="hhs_rec" type="text/html">
{{each list as value j}}
	   <tr>
								<td>火花塞编码：</td>
								<td>{{list[j].hhsProduct}}</td>
		</tr>
 		<tr>
								<td>备注：</td>
								<td>{{list[j].hhsBz}}</td>
		</tr>
 {{/each}}   
	</script>
		<script id="que_rec" type="text/html">
{{each list as value j}}
	     <li id="{{list[j].lyId}}" >
			<p>{{list[j].fatory}}&nbsp;{{list[j].carForm}}&nbsp;{{list[j].chassis}}&nbsp;{{list[j].car_year}}</p>
	        <p>{{list[j].saleName}} &nbsp;{{list[j].engineType}}</p>
	  </li>
 {{/each}}   
	</script>
	
	<script id="rc_rec" type="text/html">
{{each list as value j}}
<table border="0" cellspacing="5" cellpadding="2" width="100%" class="table" >
	  <tbody>
                    <tr><td colspan="2" class='center'>{{list[j].carBrand}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].carForm}}&nbsp;&nbsp;&nbsp;{{list[j].carOutput}}<br />{{list[j].carYear}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list[j].saleName}}</td></tr>
					<tr><td>厂家:</td><td><span>{{list[j].fatory}}</span></td></tr>
					<tr><td>排放标准:</td><td><span>{{list[j].outputStand}}</span></td></tr>
					<tr><td>发动机型号:</td><td><span>{{list[j].engineType}}</span></td></tr>
					<tr><td>进气形式:</td><td><span>{{list[j].gasForm}}</span></td></tr>
					<tr><td>燃油标号:</td><td><span>{{list[j].gasGrade}}</span></td></tr>
					<tr><td>气缸数(个):</td><td><span>{{list[j].cylinderNum}}</span></td></tr>
					<tr><td>变速箱型号:</td><td><span>&nbsp;</span></td></tr>
					<tr><td>变速器描述:</td><td><span>{{list[j].shiftMemo}}</span></td></tr>
					<tr><td>档位数:</td><td><span>{{list[j].gearsNum}}</span></td></tr>
					<tr><td>前制动器类型:</td><td><span>{{list[j].prefixBrakingType}}</span></td></tr>
					<tr><td>后制动器类型:</td><td><span>{{list[j].suffixBrakingType}}</span></td></tr>
					<tr><td>助力类型:</td><td><span>{{list[j].assistanceType}}</span></td></tr>
					<tr><td>轴距(mm):</td><td><span>{{list[j].wheelbase}}</span></td></tr>
					<tr><td>前轮胎规格:</td><td><span>{{list[j].preffixTyreScale}}</span></td></tr>
					<tr><td>后轮胎规格:</td><td><span>{{list[j].suffixTyreScale}}</span></td></tr>
 	             </tbody>	
	</table>
 {{/each}}   
	</script>
		
	</head>
	<body>
		<header style="position: fixed;z-index: 10;">
		<img src="static/img/headTitle.png" class="headTitle">
			<div class="headsy"><a href="view/page/index.html"></a></div>
		</header>
		<!--下拉框盒子-->
		<div class="titleselectBox">
			<div class="productTitleBox clearfix">				
				<h3 id="carBrand"  class="h3" ></h3>
			</div>
			<div class="productSelectBox">
				<div class="productSelect clearfix" >
					<div class="proSelect">					
						<select id="carOutputTl" onchange="changeSelect(this)" class="mui-btn mui-btn-block">												
						   </select>
					</div>
					<div class="proSelect">
						<p>年&nbsp;&nbsp;&nbsp;&nbsp;款</p>
						<div  id="select_2" ></div>
						  <select id="carYear"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>
					<div class="proSelect">
						<p>平&nbsp;&nbsp;&nbsp;&nbsp;台</p>
						<div  id="select_3"></div>
						  <select id="chassis"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>						
				</div>
				<div class="productSelect clearfix">
					<div class="proSelect">
						<p>发动机</p>
						<div  id="select_4" ></div>
						  <select id="engineType"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>
					<div class="proSelect">
						<p>变速箱</p>
						<div  id="select_5" ></div>
						 <select id="shiftMemo"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>
					<div class="proSelect">
						<p>轮&nbsp;&nbsp;&nbsp;&nbsp;毅</p>
						<div  id="select_6" ></div>
						 <select id="preffixTyreScale"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>						
				</div>
				<div class="productSelect productSelect1 clearfix">
					<div class="proSelect">
						<p>销售名称</p>
						<div  id="select_7" ></div>
						 <select id="saleName"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>
					<div class="proSelect">
						<p>生产年份</p>
						<div  id="select_8" ></div>
						 <select id="produceYear"  onchange="changeSelect(this)" class="mui-btn mui-btn-block" >																		
						    </select>
					</div>					
				</div>				
			</div>
		</div>
		<!--中间部分-->
		<div class="productBox" id="slider">
			<ul class="productSolider">
				<li>	
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_13.jpg"/>
						<h3>前制动片</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="preB_bf_div">										
						</table>
					</div>	
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_13.jpg"/>
						<h3>后制动片</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="sufB_bf_div">									
						</table>
					</div>					
				</li>				
				<li>
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_14.jpg"/>
						<h3>前制动片</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="preB_bds_div">																			
						</table>
					</div>
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_14.jpg"/>
						<h3>后制动片</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="sufB_bds_div">																		
						</table>
					</div>		
				</li>

				<li>
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_15.jpg"/>				
						<h3>润滑油<span style="font-size: 11px;line-height: 16px;margin-left: 8px;"> 请再次核实相关参数 </span> </h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="rhls_div">												
						</table>
					</div>	
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_15.jpg"/>
						<h3>变速箱油 <span style="font-size: 11px;line-height: 16px;margin-left: 8px;"> 请再次核实相关参数 </span></h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="bsxls_div">										
						</table>
					</div>					
				</li>
				<li>
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_16.jpg"/>
						<h3>免维护电池</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="dc_div">
							<tr>
								<td>泰科编码</td>
								<td><a href="#">DB4006</a></td>
							</tr>
							<tr>
								<td>泰科编码</td>
								<td><a href="#">DB4006</a></td>
							
							</tr>						
						</table>
					</div>				
				</li>
				<li>
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_17.jpg"/>
						<h3>火花塞</h3>
					</div>
					<div class="tableBox">
						<table border="0" cellspacing="0" cellpadding="" width="100%" id="hhs_div" >
							<tr>
								<td>LOOGE编码</td>
								<td><a href="#">DB4006</a></td>
							</tr>
							<tr>
								<td>LOOGE编码</td>
								<td><a href="#">DB4006</a></td>
							
							</tr>						
						</table>
					</div>					
				</li>				
				<li>				
					<div class="titleBox clearfix">
						<img src="static/img/images/foot_18.jpg"/>
						<h3 style="font-size: 11px;line-height: 16px;">选择排量.年款.销售名称等选项<br/>查看车型参数</h3>
					</div>
					<div class="tableBox rePin" id="rc_div">						
					</div>		
				</li>				
			</ul>
		</div>
		<!--底部logo -->
		<ul class="navSolider">
			<li class="navActive"></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>			
		</ul>	
		<script>
			$(function(){				
				$(".productBox").css("top",$(".titleselectBox").height() + 109 +"px");//
				$(".navSolider").css("margin-left",-($(".navSolider").width()/2) +"px");//底部logo				
				$(".navSolider .navActive").siblings().css("margin-top","7.5px");//底部logo	
				
				
				//下拉框-下拉列表								
				$(".productSelect p").each(function(){
					var aa =$(this).html()
					$(this).siblings(".select-ul").prepend("<li>" + aa + "</li>");
					$(this).siblings(".select-ul").children("li").eq(0).hide();
				});//遍历所有下拉框将下拉框的p作为下拉列表的第一个子元素				
				$(".productSelect").on("click",".proSelect",function(e){
					$(".proSelect").find(".select-ul").hide();
					$(this).find(".select-ul").show();
					e.stopPropagation();
					e.preventDefault();
				})
				$(".productSelect").on("click",".proSelect .selectImg1",function(e){
					var pHtml=$(this).siblings(".select-ul").children("li").eq(0).html();
						
					$(this).siblings("p").html(pHtml)
					$(this).siblings(".select-ul").hide();
					$(this).removeClass("selectImg1");
					e.stopPropagation();
					e.preventDefault();
				})//点击红叉恢复初始选项				
				$(".select-ul").on("click","li",function(e){
					$(this).parent(".select-ul").hide().siblings("p").html($(this).html()).siblings(".selectImg").addClass("selectImg1");
					e.stopPropagation();
					e.preventDefault();
				})//点击下拉列表
				
				$(document).on("click",":not('.titleselectBox')",function(){
					$(".select-ul").hide();
				})//点击任意地方下拉框关闭
			
			})

		</script>
	<script type="text/javascript" src="static/js/plugin/touchslider.js"></script><!--左右滑动-->
		<script type="text/javascript">
		//获取select的对象
		var carOutputTl=document.getElementById("carOutputTl");
		var carYear=document.getElementById("carYear");
		var chassis=document.getElementById("chassis");
		var engineType=document.getElementById("engineType");
		var shiftMemo=document.getElementById("shiftMemo");
		var preffixTyreScale=document.getElementById("preffixTyreScale");
		var saleName=document.getElementById("saleName");
		var produceYear=document.getElementById("produceYear");
		
		var dataArr=new Array();
		
		
	    //动态载入所有下拉框数据
	    function load(){
	    	findSelectAllopt();
	    	/* findSelectCarOutputTl();
	    	findSelectCarYear();
	    	findSelectChassis();
	    	findSelectEngineType();
	    	findSelectShiftMemo();
	    	findSelectPreffixTyreScale();
	    	findSelectSaleName();
	    	findSelectProduceYear(); */
	    	$('.selectImg').css("display","none");
	    	var i= ityzl_SHOW_LOAD_LAYER();
	    	  setTimeout("findTheProducts("+i+")", 30);	   
	    };		
			$(function() {
				var htm=localStorage.getItem("carBrand")+"<span >"+localStorage.getItem("fatory")+"&nbsp;&nbsp;&nbsp;"+localStorage.getItem("carForm")+"</span>";	
				$("#carBrand").html(htm);
				load(); 
				var tt = new TouchSlider({
					id: 'slider',
					'auto': '-1',
					fx: 'ease-out',
					direction: 'left',
					speed: 450,
					timeout: 3500,
					'before': function(index) {
	
						var es = $('#slider').find('.productSolider li');
	
						var it = $(es[index]).index();

						$(".navSolider li").eq(it).addClass("navActive").css("margin-top","0").siblings().css("margin-top","5px").removeClass("navActive");
						//es.scrollTop(0);
						es.eq(it).siblings().animate({scrollTop: 0 }, 500);

					}
				});//手指滑动切换页面
				for(var i=0;i<$(".navSolider li").length;i++){
					(function(){
						var j=i;
						$(".navSolider li")[j].tt = tt;
						$(".navSolider li")[j].onclick=function(){
							this.tt.slide(j);
							return false;
						}
					})();
				}
				
				/* $(".navSolider").on("click","li",function(){
					$('#slider').find('.productSolider').css("left",-$('.productSolider li').width()*$(this).index()+'px');
					$(this).addClass("navActive").css("margin-top","0").siblings().css("margin-top","5px").removeClass("navActive");
					$('.productSolider li').scrollTop(0);
				})//点击底部logo切换页面 */
			
			//点击下拉框
          $(".proSelect").on("click",function(){        	
        	   var id=$(this).find("select").attr("id");
        	    $("#"+id).removeClass("selectDisplay");
        	   var idv=id.substring(0,1).toUpperCase()+id.substring(1);
        	//   findSelects(id);
        	//   eval("find"+idv+"()");
 
          });
			})

		//-------select all---start-----
		    //查找所有数据
			function findSelectAllopt(){
				var url =basUrl+"/carStyleSublist/findProducesByOpt.action";
		    	$.ajax({  
		            url: url,
		            type: 'POST',  
		            data:{
		            	carBrand:localStorage.getItem("carBrand"),
		            	carForm:localStorage.getItem("carForm"),
		            	fatory:localStorage.getItem("fatory")
		            },  
		            beforeSend: function () {
			        	
			        },
		            timeout : 10000, //超时时间设置，单位毫秒
		            async: false,         
		            success: function (result) {
		            	var rec=JSON.parse(result);
		            	 dataArr=rec.data.res;		            			            			            	
		            	 findSelectCarOutputTl();
		            	 findSelectCarYear();
		            	 findSelectChassis();
		     	    	 findSelectEngineType();
		     	    	 findSelectShiftMemo();
		     	    	 findSelectPreffixTyreScale();
		     	    	 findSelectSaleName();
		     	    	 findSelectProduceYear();		     	    				         				          
		           	},  		        	
		            error: function (returndata) {		            	
		            }          	
		    		});
		   }
		
		//动态拼接if条件
		function resetCondition(){
			 var conditions="";//if的条件句
			 var carOutputTl_val=null;
			 var produceYear_val=null;
			
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1 && produceYear.options[produceYear_index]["value"] !=""){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    	  conditions+="dataArr[i].produceYear==produceYear_val&&";
			    }
			    var carOutputTl_index=carOutputTl.selectedIndex;
			    if(carOutputTl_index!=-1 && carOutputTl.options[carOutputTl_index]["value"] !=""){
			    	carOutputTl_val=carOutputTl.options[carOutputTl_index]["value"];
			    	 conditions+="dataArr[i].carOutputTl==carOutputTl_val&&";
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1 && carYear.options[carYear_index]["value"] !=""){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    	 conditions+="dataArr[i].carYear==carYear_val&&";
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1 && chassis.options[chassis_index]["value"]!=""){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        	 conditions+="dataArr[i].chassis==chassis_val&&";
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1 && engineType.options[engineType_index]["value"]!=""){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        	 conditions+="dataArr[i].engineType==engineType_val&&";
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
                if(shiftMemo_index!=-1 && shiftMemo.options[shiftMemo_index]["value"]!=""){
                	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
                	 conditions+="dataArr[i].shiftMemo==shiftMemo_val&&";
                }
                var preffixTyreScale_index=preffixTyreScale.selectedIndex;
                if(preffixTyreScale_index!=-1 && preffixTyreScale.options[preffixTyreScale_index]["value"]!=""){
                	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
                	 conditions+="dataArr[i].preffixTyreScale==preffixTyreScale_val&&";
                }
                var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1 && saleName.options[saleName_index]["value"]!=""){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        	  conditions+="dataArr[i].saleName==saleName_val&&";
		        }
		        conditions+="1==1";
		    	return conditions;
		}
		
	
		
		function loadEachSelect(){
			findSelectCarOutputTl();
		}
		
		
		//查找排量
		function findSelectCarOutputTl(){
			
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
			
			
			var brand_prov=new Array();
			carOutputTl.options.length=0;
        	carOutputTl.options[0]=new Option("排量",'');	
        	var j=0;
        	var isSame=false;//判断是否相同下拉选项
        	var optionval=[];
	           for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.carOutputTl)==-1&& !(row.carOutputTl.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.carOutputTl);
	        	    		 carOutputTl.options[j+1]=new Option(row.carOutputTl,row.carOutputTl);	
		        	    	  if(carOutputTl_val!=null && dataArr[i].carOutputTl==carOutputTl_val){
		   	        		   carOutputTl.options[j+1].selected=true;			        		 	
		   	        	      }
		        	    	j++;	        	    		
	        	    	}	        	    		        	    		        	    	
	        	    }	        	   	        	         	   	        	 
	           } 	    	
		};
		//查找年款
		function findSelectCarYear(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
			
		       						
			var brand_prov=new Array();
			carYear.options.length=0;//将之前的选项清空
        	carYear.options[0]=new Option("年款",'');	
         	var j=0;
         	var optionval=[];
	           for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.carYear)==-1&& !(row.carYear.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.carYear);
	        	    	 carYear.options[j+1]=new Option(row.carYear,row.carYear);	
	  	        	   if(carYear_val!=null && dataArr[i].carYear==carYear_val){
	  	        		   carYear.options[j+1].selected=true;			        		 	
	  	        	   }
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           } 	    	
		};
		
		//查找平台
		function findSelectChassis(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
			
		    var optionval=[];
			var brand_prov=new Array();
			chassis.options.length=0;
        	chassis.options[0]=new Option("平台",'');	
        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.chassis)==-1&& !(row.chassis.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.chassis);
	        	    	chassis.options[j+1]=new Option(row.chassis,row.chassis);	
	 	        	   if(chassis_val!=null && dataArr[i].chassis==chassis_val){
	 	        		   chassis.options[j+1].selected=true;			  			
	 	        	   }
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           } 	    	
		};
		
		//查找发动机
		function findSelectEngineType(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
			
		    var optionval=[];
			var brand_prov=new Array();
			engineType.options.length=0;
        	engineType.options[0]=new Option("发动机",'');	
        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.engineType)==-1 && !(row.engineType.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.engineType);
	        	    	 engineType.options[j+1]=new Option(row.engineType,row.engineType);
	  	        	   if(engineType_val!=null && dataArr[i].engineType==engineType_val){
	  	        		   engineType.options[j+1].selected=true;			
	  	        	   }
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           } 	
	          	    	
		};
		
		//查找变速箱
		function findSelectShiftMemo(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
		    var optionval=[];
			var brand_prov=new Array();
			shiftMemo.options.length=0;
        	shiftMemo.options[0]=new Option("变速箱",'');
        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.shiftMemo)==-1&& !(row.shiftMemo.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.shiftMemo);
	        	    	shiftMemo.options[j+1]=new Option(row.shiftMemo,row.shiftMemo);		
	 	        	   if(shiftMemo_val!=null && dataArr[i].shiftMemo==shiftMemo_val){
	 	        		   shiftMemo.options[j+1].selected=true;			
	 	        	   }
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           } 
        		           
		};
		
		//查找轮毂
		function findSelectPreffixTyreScale(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
			
		    var optionval=[];
			var brand_prov=new Array();
			preffixTyreScale.options.length=0;
        	preffixTyreScale.options[0]=new Option("轮毂",'');	   
        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.preffixTyreScale)==-1&& !(row.preffixTyreScale.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.preffixTyreScale);
	        	    	 preffixTyreScale.options[j+1]=new Option(row.preffixTyreScale,row.preffixTyreScale);		
	  	        	   if(preffixTyreScale_val!=null && dataArr[i].preffixTyreScale==preffixTyreScale_val){
	  	        		   preffixTyreScale.options[j+1].selected=true;
	  	        	   }
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           }        		    	
		};
		
		//查找销售名称
		function findSelectSaleName(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
		    var optionval=[];
			var brand_prov=new Array();
			saleName.options.length=0;
        	saleName.options[0]=new Option("销售名称",'');	   

        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.saleName)==-1&& !(row.saleName.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.saleName);
	        	    	saleName.options[j+1]=new Option(row.saleName,row.saleName);		
	 	        	   if(saleName_val!=null && dataArr[i].saleName==saleName_val){
	 	        		   saleName.options[j+1].selected=true;		   
	 	        	   }	 	        	 	  
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           }   	    	
		};
		
		//查找生成年份
		function findSelectProduceYear(){
			 var conditions=resetCondition();			
			 var produceYear_val=null;
			 var carOutputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   carOutputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
               if(shiftMemo_index!=-1){
               	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
               }
               var preffixTyreScale_index=preffixTyreScale.selectedIndex;
               if(preffixTyreScale_index!=-1){
               	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
               }
               var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }
		       	var j=0;
		    var optionval=[];
			var brand_prov=new Array();
			produceYear.options.length=0;
        	produceYear.options[0]=new Option("生产年份",'');

        	for(var i=0;i<dataArr.length;i++){
	        	   var row=dataArr[i];
	        	    if(eval(conditions)){
	        	    	if(optionval.indexOf(row.produceYear)==-1&& !(row.produceYear.replace(/(^s*)|(s*$)/g, "").length ==0)){
	        	    		optionval.push(row.produceYear);
	        	    	 produceYear.options[j+1]=new Option(row.produceYear,row.produceYear);	
	  	        	   if(produceYear_val!=null && dataArr[i].produceYear==produceYear_val){
	  	        		   produceYear.options[j+1].selected=true;			   
	  	        	   }	 	        	 	  
	        	    	j++;
	        	    	}
	        	    }	        	   	        	         	   	        	 
	           } 	          	    	
		};

		//-------select all---end
		
		//-------select change start---
		
				//下拉框change事件
		function changeSelect(f){	
			 var fid=$(f).attr("id");
			// $(f).prev().addClass("selectImg1");	    
			 var produceYear_val=null;
			 var outputTl_val=null;
			 var carYear_val=null;
			 var chassis_val=null;
			 var engineType_val=null;
			 var shiftMemo_val=null;
			 var preffixTyreScale_val=null;
			 var saleName_val=null;
			    var produceYear_index=produceYear.selectedIndex;
			    if(produceYear_index!=-1){
			    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
			    }
			    var outputTl_index=carOutputTl.selectedIndex;
			    if(outputTl_index!=-1){
			    	   outputTl_val=carOutputTl.options[outputTl_index]["value"];
			    }
			    var carYear_index=carYear.selectedIndex;
			    if(carYear_index!=-1){
			    	carYear_val=carYear.options[carYear_index]["value"];
			    }
		        var chassis_index=chassis.selectedIndex;
		        if(chassis_index!=-1){
		        	chassis_val=chassis.options[chassis_index]["value"];
		        }
		        var engineType_index=engineType.selectedIndex;
		        if(engineType_index!=-1){
		        	engineType_val=engineType.options[engineType_index]["value"];
		        }
		        var shiftMemo_index=shiftMemo.selectedIndex;
                if(shiftMemo_index!=-1){
                	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
                }
                var preffixTyreScale_index=preffixTyreScale.selectedIndex;
                if(preffixTyreScale_index!=-1){
                	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
                }
                var saleName_index=saleName.selectedIndex;
		        if(saleName_index!=-1){
		        	  saleName_val=saleName.options[saleName_index]["value"];	
		        }		       
		        $(".productSelectBox select").each(function(){
		        	var id=$(this).attr("id");
		        	var idv=id.substring(0,1).toUpperCase()+id.substring(1);
		        	if(fid!=id){
		        		eval("findSelect"+idv+"()");
		        	}		        
		        })	
		        var i= ityzl_SHOW_LOAD_LAYER();
		         setTimeout("findTheProducts("+i+")", 30);
		      //  findTheProducts()
		};
		
		//-----select change end---
		
		
	    function ityzl_SHOW_LOAD_LAYER(){
	   		return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '0px', time:100000}) ;
	   	}
	   	function ityzl_CLOSE_LOAD_LAYER(index){
	   		layer.close(index);
	   	}
	   	function ityzl_SHOW_TIP_LAYER(){
	   		layer.msg('恭喜您，加载完成！',{time: 1000,offset: '10px'});
	   	}


	//查找相应的产品	
	function findTheProducts(i){
		 var carBrand=localStorage.getItem("carBrand");
    	 var carForm=localStorage.getItem("carForm");
		 var produceYear_val=null;
		 var outputTl_val=null;
		 var carYear_val=null;
		 var chassis_val=null;
		 var engineType_val=null;
		 var shiftMemo_val=null;
		 var preffixTyreScale_val=null;
		 var saleName_val=null;
		    var produceYear_index=produceYear.selectedIndex;
		    if(produceYear_index!=-1){
		    	  produceYear_val=produceYear.options[produceYear_index]["value"];	
		    }
		    var outputTl_index=carOutputTl.selectedIndex;
		    if(outputTl_index!=-1){
		    	   outputTl_val=carOutputTl.options[outputTl_index]["value"];
		    }
		    var carYear_index=carYear.selectedIndex;
		    if(carYear_index!=-1){
		    	carYear_val=carYear.options[carYear_index]["value"];
		    }
	        var chassis_index=chassis.selectedIndex;
	        if(chassis_index!=-1){
	        	chassis_val=chassis.options[chassis_index]["value"];
	        }
	        var engineType_index=engineType.selectedIndex;
	        if(engineType_index!=-1){
	        	engineType_val=engineType.options[engineType_index]["value"];
	        }
	        var shiftMemo_index=shiftMemo.selectedIndex;
            if(shiftMemo_index!=-1){
            	shiftMemo_val=shiftMemo.options[shiftMemo_index]["value"];
            }
            var preffixTyreScale_index=preffixTyreScale.selectedIndex;
            if(preffixTyreScale_index!=-1){
            	preffixTyreScale_val=preffixTyreScale.options[preffixTyreScale_index]["value"];
            }
            var saleName_index=saleName.selectedIndex;
	        if(saleName_index!=-1){
	        	  saleName_val=saleName.options[saleName_index]["value"];	
	        }	        
	       	var url =basUrl+"/carStyleSublist/findTheProducts.action";
	      
			
	    	$.ajax({  
	            url: url,
	            type: 'POST',  
	            data:{
	            	carBrand:localStorage.getItem("carBrand"),
	            	carForm:localStorage.getItem("carForm"),
	            	fatory:localStorage.getItem("fatory"),
	            	outputTl:outputTl_val,
	            	carYear:carYear_val,
	            	chassis:chassis_val,
	            	engineType:engineType_val,
	            	shiftMemo:shiftMemo_val,
	            	preffixTyreScale:preffixTyreScale_val,
	            	saleName:saleName_val,
	            	
	            }, 
	         
	            timeout : 10000, //超时时间设置，单位毫秒
	            async: false,      
	            beforeSend: function () {
		        	
		        },
	            success: function (result) {
	            	var rec=JSON.parse(result);
	            	var pre_bf_Bls=rec.data.pre_bf_Bls;//宝丰前制动
	            	var suf_bf_Bls=rec.data.suf_bf_Bls;//宝丰后制动
	            	var pre_bds_Bls=rec.data.pre_bds_Bls;//奔德士前制动
	            	var suf_bds_Bls=rec.data.suf_bds_Bls;//奔德士后制动
	            	var rhls=rec.data.rhls;//润滑油品
	            	var bsxls=rec.data.bsxls;//变速箱油品
	            	var dcls=rec.data.dcls;//电池
	            	var hhsls=rec.data.hhsls;//火花塞
	            	var rcls=rec.data.rcls;//火花塞
	            	
	             	document.getElementById("preB_bf_div").innerHTML =template("preB_bf", {
						list: pre_bf_Bls
					});
	            	document.getElementById("sufB_bf_div").innerHTML =template("sufB_bf", {
						list: suf_bf_Bls
					});
	            	document.getElementById("preB_bds_div").innerHTML =template("preB_bds", {
						list: pre_bds_Bls
					});
	            	document.getElementById("sufB_bds_div").innerHTML =template("sufB_bds", {
						list: suf_bds_Bls
					});
	            	
	            	document.getElementById("rhls_div").innerHTML =template("rh_ls", {
						list: rhls
					});
	            	document.getElementById("bsxls_div").innerHTML =template("bsx_ls", {
						list: bsxls
					});
	            	document.getElementById("rhls_div").innerHTML =template("rh_ls", {
						list: rhls
					});
	            	document.getElementById("bsxls_div").innerHTML =template("bsx_ls", {
						list: bsxls
					});
	            	document.getElementById("dc_div").innerHTML =template("dc_rec", {
						list: dcls
					});
	            	document.getElementById("hhs_div").innerHTML =template("hhs_rec", {
						list: hhsls
					});		 
	            	document.getElementById("rc_div").innerHTML =template("rc_rec", {
						list: rcls
					}); 
	            	ityzl_CLOSE_LOAD_LAYER(i);
		        	            	
	           	},  
	          
	            error: function (returndata) {
	            	ityzl_CLOSE_LOAD_LAYER(i);
	            }          	
	    		});
	       
	      }

		</script>	

	</body>
</html>