<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title></title>
<base href="/hotCheng/" />

<link href="static/mui/css/mui.min.css" rel="stylesheet" />
<link rel="stylesheet" href="static/css/common.css">
<link rel="stylesheet" href="static/css/index.css">
<link rel="stylesheet" href="static/css/product.css" />
<script type="text/javascript"
	src="static/js/plugin/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/js/plugin/touchslider.js"></script>
<script src="static/js/tool.js"></script>
<script src="static/js/template.js"></script>
<script type="text/javascript" src="static/layer/layer.js"></script>

<style>
.mui-btn-block {
	font-size: 14px;
	display: block;
	width: 93%;
	margin-bottom: 10px;
	padding: 0px 2%;
	padding: 5px 1px 1px 4%;
}

.selectDisplay {
	display: none;
}

.mui-btn,button,input[type=button],input[type=reset],input[type=submit]
	{
	line-height: 1.42;
}

.h3 {
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	font-weight: normal;
}

.table-responsive {
	width: 100%;
}

.table {
	margin-bottom: 2px;
	margin-top: 2px;
}

.table>tbody>tr:first-child>td {
	text-align: center;
	border: 0;
}
</style>

<script id="bf_qzd" type="text/html">
{{each list as value j}}
	   <tr>
			<td>宝丰编码：</td>
			<td>{{list[j]}}</td>
		</tr>
		<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}}   
	</script>
<script id="bf_hzd" type="text/html">
	{{each list as value j}}
	   <tr>
		<td>宝丰编码：</td>
		<td>{{list[j]}}</td>
		</tr>
		<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 	{{/each}}   	
	</script>

<script id="bds_qzd" type="text/html">
{{each list as value j}}
	   <tr>
			<td>奔德士编码：</td>
			<td>{{list[j]}}</td>
		</tr>
<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}}   
	</script>
<script id="bds_hzd" type="text/html">
{{each list as value j}}
	   <tr>
			<td>奔德士编码：</td>
			<td>{{list[j]}}</td>
		</tr>
<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}} 
	</script>
<script id="avia_rhy" type="text/html">
{{each list as value j}}
	  <tr>
		<td>AVIA编码：</td>
		<td>{{list[j]}}</td>
		</tr>
 	<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}}   
	</script>
	<script id="avia_rhy_byjzl" type="text/html">
 		<tr>
			<td>保养加注量(L)：</td>
			<td>{{value}}</td>
		</tr>
	</script>
	<script id="avia_bsxy" type="text/html">
	{{each list as value j}}
	   <tr>
			<td>AVIA编码：</td>
			<td>{{list[j].info}}</td>
		</tr>
 		{{if   list[j].bz !=null && list[j].bz!='' }}
 			<tr>
			<td>备注:</td>
			<td>{{list[j].bz}}</td>
		</tr>
		{{/if}} 
	<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 	{{/each}}   
	</script>
	<script id="avia_bsxy_jzl" type="text/html">
 		<tr>
			<td>保养加注量(L)：</td>
			<td>{{byjzl}}</td>
		</tr>
		<tr>
			<td>大修加注量(L)：</td>
			<td>{{dxjzl}}</td>
		</tr>
	</script>
<script id="nbe_rec" type="text/html">
{{each list as value j}}
	   <tr>
			<td>电池编码：</td>
			<td>{{list[j].info}}</td>
		</tr>
 		<tr>
	{{if   list[j].bz !=null && list[j].bz!='' }}
 		<tr>
			<td>备注:</td>
			<td>{{list[j].bz}}</td>
		</tr>
	{{/if}} 
		</tr>
<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}}   
	</script> 

<script id="hhs_rec" type="text/html">
{{each list as value j}}
	   <tr>
			<td>火花塞编码：</td>
			<td>{{list[j].info}}</td>
		</tr>
 		<tr>
		{{if   list[j].bz !=null && list[j].bz!='' }}
 			<tr>
			<td>备注:</td>
			<td>{{list[j].bz}}</td>
		</tr>
		{{/if}} 
		</tr>
<tr><td colspan="2" style="background-color:#ececec;height:3px"></td></tr>
 {{/each}}   
	</script>

<script id="rc_rec" type="text/html">
{{if value.pp != null && value.pp !='' }}
<table border="0" cellspacing="5" cellpadding="2" width="100%" class="table" >
	  <tbody>
                    <tr><td colspan="2" class='center'>{{value.pp}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{value.cx}}&nbsp;&nbsp;&nbsp;{{value.pfbz}}<br />{{value.nk}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{value.xsmc}}</td></tr>
					<tr><td>厂家:</td><td><span>{{value.cj}}</span></td></tr>
					<tr><td>排放标准:</td><td><span>{{value.pfbz}}</span></td></tr>
					<tr><td>发动机型号:</td><td><span>{{value.fdjxh}}</span></td></tr>
					<tr><td>进气形式:</td><td><span>{{value.jqxs}}</span></td></tr>
					<tr><td>燃油标号:</td><td><span>{{value.rybh}}</span></td></tr>
					<tr><td>气缸数(个):</td><td><span>{{value.qgs}}</span></td></tr>
					<tr><td>平台号:</td><td><span>{{value.pth}}</span></td></tr>
					<tr><td>变速器描述:</td><td><span>{{value.bsqms}}</span></td></tr>
					<tr><td>档位数:</td><td><span>{{value.dws}}</span></td></tr>
					<tr><td>前制动器类型:</td><td><span>{{value.qzdlx}}</span></td></tr>
					<tr><td>后制动器类型:</td><td><span>{{value.hzdlx}}</span></td></tr>
					<tr><td>助力类型:</td><td><span>{{value.zllx}}</span></td></tr>
					<tr><td>轴距(mm):</td><td><span>{{value.zj}}</span></td></tr>
					<tr><td>轮毂规格:</td><td><span>{{value.lggg}}</span></td></tr>
					<tr><td>轮胎规格:</td><td><span>{{value.ltgg}}</span></td></tr>
 	             </tbody>	
	</table>
{{/if}} 
	</script>

</head>
<body>
	<header style="position: fixed; z-index: 10;">
		<img src="static/img/headTitle.png" class="headTitle">
		<div class="headsy">
			<a href="view/wechat/carstyle/index.html"></a>
		</div>
	</header>
	<!--下拉框盒子-->
	<div class="titleselectBox">
		<div class="productTitleBox clearfix">
			<h3 id="carBrand" class="h3">&nbsp;</h3>
		</div>
		<div class="productSelectBox" id="optBox">
			<div class="productSelect clearfix">
				<div class="proSelect">
					<select id="plOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">排量</option>
					</select>
				</div>
				<div class="proSelect">
					<select id="nkOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">年款</option>
					</select>
				</div>
				<div class="proSelect">
					<select id="ptOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">平台</option>
					</select>
				</div>
			</div>
			<div class="productSelect clearfix">
				<div class="proSelect">
					<select id="fdjOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">发动机</option>
					</select>
				</div>
				<div class="proSelect">
					<select id="bsxOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">变速箱</option>
					</select>
				</div>
				<div class="proSelect">
					<select id="lgOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">轮毂</option>
					</select>
				</div>
			</div>
			<div class="productSelect productSelect1 clearfix">
				<div class="proSelect">
					<select id="xsmcOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">销售名称</option>
					</select>
				</div>
				<div class="proSelect">
					<select id="scnfOpt" onchange="changeSelect(this)"
						class="mui-btn mui-btn-block">
						<option value="" selected="selected">生产年份</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!--中间部分-->
	<div class="productBox" id="slider">
		<ul class="productSolider">
			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_13.jpg" />
					<h3>前制动片</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="bf_qzd_div">
					</table>
				</div>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_13.jpg" />
					<h3>后制动片</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="bf_hzd_div">
					</table>
				</div>
			</li>
			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_14.jpg" />
					<h3>前制动片</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="bds_qzd_div">
					</table>
				</div>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_14.jpg" />
					<h3>后制动片</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="bds_hzd_div">
					</table>
				</div>
			</li>

			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_15.jpg" />
					<h3>
						润滑油<span
							style="font-size: 11px; line-height: 16px; margin-left: 8px;">
							请再次核实相关参数 </span>
					</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="avia_rhy_div">
					</table>
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="avia_rhy_byjzl_div">
					</table>
				</div>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_15.jpg" />
					<h3>
						变速箱油 <span
							style="font-size: 11px; line-height: 16px; margin-left: 8px;">
							请再次核实相关参数 </span>
					</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="avia_bsxy_div">
					</table>
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="avia_bsxy_jzl_div">
					</table>
				</div>
			</li>
			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_16.jpg" />
					<h3>免维护电池</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="nbe_div">
						
					</table>
				</div>
			</li>
			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_17.jpg" />
					<h3>火花塞</h3>
				</div>
				<div class="tableBox">
					<table border="0" cellspacing="0" cellpadding="" width="100%"
						id="hhs_div">
					</table>
				</div>
			</li>
			<li>
				<div class="titleBox clearfix">
					<img src="static/img/images/foot_18.jpg" />
					<h3 style="font-size: 11px; line-height: 16px;">
						选择排量.年款.销售名称等选项<br />查看车型参数
					</h3>
				</div>
				<div class="tableBox rePin" id="rc_div"></div>
			</li>
		</ul>
	</div>
	<!--底部logo -->
	<ul class="navSolider">
		<li class="navActive"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<script>
	$(function(){				
		$(".productBox").css("top",$(".titleselectBox").height() + 109 +"px");//
		$(".navSolider").css("margin-left",-($(".navSolider").width()/2) +"px");//底部logo				
		$(".navSolider .navActive").siblings().css("margin-top","7.5px");//底部logo	
		
		
		//下拉框-下拉列表								
		$(".productSelect p").each(function(){
			var aa =$(this).html()
			$(this).siblings(".select-ul").prepend("<li>" + aa + "</li>");
			$(this).siblings(".select-ul").children("li").eq(0).hide();
		});//遍历所有下拉框将下拉框的p作为下拉列表的第一个子元素				
		$(".productSelect").on("click",".proSelect",function(e){
			$(".proSelect").find(".select-ul").hide();
			$(this).find(".select-ul").show();
			e.stopPropagation();
			e.preventDefault();
		})
		$(".productSelect").on("click",".proSelect .selectImg1",function(e){
			var pHtml=$(this).siblings(".select-ul").children("li").eq(0).html();
				
			$(this).siblings("p").html(pHtml)
			$(this).siblings(".select-ul").hide();
			$(this).removeClass("selectImg1");
			e.stopPropagation(); 
			e.preventDefault();
		})//点击红叉恢复初始选项				
		$(".select-ul").on("click","li",function(e){
			$(this).parent(".select-ul").hide().siblings("p").html($(this).html()).siblings(".selectImg").addClass("selectImg1");
			e.stopPropagation();
			e.preventDefault();
		})//点击下拉列表
		
		$(document).on("click",":not('.titleselectBox')",function(){
			$(".select-ul").hide();
		})//点击任意地方下拉框关闭
	
	})

		</script>
	<script type="text/javascript" src="static/js/plugin/touchslider.js"></script>
	<!--左右滑动-->
	<script type="text/javascript">
		
		
	    //this is start --------------
			$(function() {
				var htm=localStorage.getItem("carBrand")+"<span >"+localStorage.getItem("carFactory")+"&nbsp;&nbsp;&nbsp;"+localStorage.getItem("carModel")+"</span>";	
				$("#carBrand").html(htm);
				$('.selectImg').css("display","none");
				getOptByStyle();
				changeSelect();
				var tt = new TouchSlider({
					id: 'slider',
					'auto': '-1',
					fx: 'ease-out',
					direction: 'left',
					speed: 450,
					timeout: 3500,
					'before': function(index) {
	
						var es = $('#slider').find('.productSolider li');
	
						var it = $(es[index]).index();

						$(".navSolider li").eq(it).addClass("navActive").css("margin-top","0").siblings().css("margin-top","5px").removeClass("navActive");
						es.eq(it).siblings().animate({scrollTop: 0 }, 500);

					}
				});//手指滑动切换页面
				for(var i=0;i<$(".navSolider li").length;i++){
					(function(){
						var j=i;
						$(".navSolider li")[j].tt = tt;
						$(".navSolider li")[j].onclick=function(){
							this.tt.slide(j);
							return false;
						}
					})();
				}
				
			
			//点击下拉框
          $(".proSelect").on("click",function(){        	
        	   var id=$(this).find("select").attr("id");
        	    $("#"+id).removeClass("selectDisplay");
        	   var idv=id.substring(0,1).toUpperCase()+id.substring(1);
 
          });
			})

		//-------select all---start-----
		    //查找所有数据
		 function getOptByStyle(){
				var url = basUrl + "/wcCarQuery/getOptByStyle.action";
	    	var param = {
	    			carBrand:localStorage.getItem("carBrand"),
	            	carModel:localStorage.getItem("carModel"),
	            	carFactory:localStorage.getItem("carFactory")
	    	};
	    	
	    	$.ajax({
	    		url:url,
	    		dataType:"json",
	    		type:"POST",
	    		data:param,
	    		timeout:10000,
	    		async:false,
	    		success:function(result){
	    			
	    			optArry = result;
	    			var pl = result.pl;
	 
	    			result.pl.forEach(function(value,index,array){
	    				$("#plOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.nk.forEach(function(value,index,array){
	    				$("#nkOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.pt.forEach(function(value,index,array){
	    				$("#ptOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.fdj.forEach(function(value,index,array){
	    				$("#fdjOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.bsx.forEach(function(value,index,array){
	    				$("#bsxOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.lg.forEach(function(value,index,array){
	    				$("#lgOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.xsmc.forEach(function(value,index,array){
	    				$("#xsmcOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			result.scnf.forEach(function(value,index,array){
	    				$("#scnfOpt").append("<option value='"+value+"'>"+value+"</option>");
					});
	    			
	    			//加载option
	    		}
	    	}); 
	    }
		//每次改变，重新加载数据，获取所有opt的参数
	    function changeSelect(t){
	    	showLoad();
	    	var opts = document.getElementById("optBox").getElementsByTagName("select");
	    	var param = {
	    			carBrand:localStorage.getItem("carBrand"),
	            	carModel:localStorage.getItem("carModel"),
	            	carFactory:localStorage.getItem("carFactory")
	    	};
	    	for(var i=0; i<opts.length; i++){
	    		var value = $("#"+opts[i].id).val();
	    		param[opts[i].id] = value;
	    	}
	    	var url = basUrl + "/wcCarQuery/getCarStyleByKey.action";
	    	$.ajax({
	    		url:url,
	    		dataType:"json",
	    		type:"POST",
	    		data:param,
	    		timeout:10000,
	    		async:false,
	    		success:function(result){
	    			document.getElementById("bf_qzd_div").innerHTML =template("bf_qzd", {
						list: result.bfQzd
					});
	            	document.getElementById("bf_hzd_div").innerHTML =template("bf_hzd", {
	            		list: result.bfHzd
					});
	            	document.getElementById("bds_qzd_div").innerHTML =template("bds_qzd", {
	            		list: result.bdsQzd
					});
	            	document.getElementById("bds_hzd_div").innerHTML =template("bds_hzd", {
	            		list: result.bdsHzd
					});
	            	
	            	document.getElementById("avia_rhy_div").innerHTML =template("avia_rhy", {
	            		list: result.aviaRhy
					});
	            	document.getElementById("avia_rhy_byjzl_div").innerHTML =template("avia_rhy_byjzl", {
	            		list: result.aviaRhyJzl
					});
	            	document.getElementById("avia_bsxy_div").innerHTML =template("avia_bsxy", {
	            		list: result.aviaBsxy
					});
	            	document.getElementById("avia_bsxy_jzl_div").innerHTML =template("avia_bsxy_jzl", {
	            		dxjzl:result.aviaBsxyDxjzl,
	            		byjzl:result.aviaBsxyByjzl
					});
	            	document.getElementById("nbe_div").innerHTML =template("nbe_rec", {
	            		list: result.nbe
					});
	            	document.getElementById("hhs_div").innerHTML =template("hhs_rec", {
	            		list: result.hhs
					});
	            	document.getElementById("rc_div").innerHTML =template("rc_rec", {
	            		value: result.rc
					});
	            	
	            	closeLoad();
	            	showTip();
	    		}
	    	}); 
	    	console.log(param)
	    }
	    function showLoad(){
	   		return layer.msg('努力中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '0px', time:100000}) ;
	   	}
	   	function closeLoad(index){
	   		layer.close(index);
	   	}
	   	function showTip(){
	   		layer.msg('恭喜您，加载完成！',{time: 1000,offset: '10px'});
	   	}

		</script>

</body>
</html>