<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">	
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<base href="/hotCheng/" />
	<script src="static/js/mui.min.js"></script>
	<script type="text/javascript" src="static/js/mui.picker.min.js" ></script>
	<link href="static/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="static/css/mui.picker.min.css" />
	<link rel="stylesheet" href="static/css/common.css">
	<link rel="stylesheet" href="static/css/smIndex.css">	
	<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<header>
	<img src="static/img/headTitle.png" class="headTitle">
	<div class="headsy"><a href="view/wechat/index.html"></a></div>
</header>
		<div class="mainBg"></div>
		<!-- -->				
		<div class="taikeContainer">
			<img src="static/img/taike.png" class="taikeLogo"/>
			<div class="containerBox" style="">
				<button id='scanQRCode' class="taikeBtn"> 能佰尔质保</button>
				<button class="taikeBtn" id="jlcx">记录查询</button> 
			</div>
		</div>
		<!--footer -->
		<footer>    
			<div class="foot1">
				<span>移动版</span>
				<span>&nbsp;|&nbsp;</span>
				<a href="javascript:;">热骋</a>
			</div>
			<a href="view/wechat/test.html"><div class="foot2">系统版本<i>RC5861-1.07 .13499s</i></div></a>

		</footer>	
</body>
<script  type="text/javascript">
$.post("index/getSignature.action", {"url":location.href.split('#')[0]},function(data){
    var jsondata=$.parseJSON(data);
    wx.config({
        // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        debug: false,
        // 必填，公众号的唯一标识
        appId: jsondata.appId,
        // 必填，生成签名的时间戳
        timestamp: "" + jsondata.timestamp,
        // 必填，生成签名的随机串
        nonceStr: jsondata.nonceStr,
        // 必填，签名
        signature: jsondata.signature,
        // 必填，需要使用的JS接口列表
        jsApiList: ['checkJsApi', 'scanQRCode']
    });
});
wx.error(function (res) {
    alert("出错了：" + res.errMsg);//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
});

	wx.ready(function() {
		wx.checkJsApi({
			jsApiList : ['scanQRCode'],
			success : function(res) {
			}
		});
		var scanWechat = getUrlParms("openId");
		if(scanWechat != undefined && scanWechat != null && scanWechat != ""){
			localStorage.setItem("scanWechat",scanWechat);
		}
		
		localStorage.setItem("qrCode","");
		//扫描二维码
		//alert(getUrlParms("openId"));
		document.querySelector('#scanQRCode').onclick = function() {
			wx.scanQRCode({
				needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
				scanType : [ "qrCode", "barCode" ], // 可以指定扫二维码还是一维码，默认二者都有
				success : function(res) {
					var qr = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
					/* document.getElementById("wm_id").value = result;//将扫描的结果赋予到jsp对应值上
					alert("扫描成功::扫描码=" + result); */
					localStorage.setItem("qrCode",qr);
					$.ajax({
						type : "POST",
						url : 'statistics/getActivate.action',
						data:{
							qrCode:qr
						},
						success : function(result) {
							
							if(result!=null){
								if(result == 0){
									mui.toast("请联系经销商");
									//window.location.href='view/wechat/saoma.html';
								}else if(result == 2){
									//判断用户的querypower
									$.ajax({  
										type : "POST",
										dataType:"json",
										url : 'user/getInfoByWechat.action',
										data:{
											wechatNo:localStorage.getItem("scanWechat")
										},
										success : function(data) {
											if(data.queryPower == 1){
												window.location.href='view/wechat/chaxun1.html';
											}else{
												window.location.href='view/wechat/chaxun2.html';
											} 
										},
										failure : function(error) {
											console.log(error)
										}
									});
									
								}else if(result == 1){
									window.location.href='view/wechat/saoma.html';
								}else{
								}
							}else{
								mui.toast("二维码不存在");
							}
						},
						failure : function(error) {
							console.log(error)
						}
					});
				}
			});
		};//end_document_scanQRCode
		
		document.getElementById("jlcx").addEventListener("click", function() {
			mui.ajax("user/getInfoByWechat.action", {
				data: {
					wechatNo: scanWechat//localStorage.getItem("scanWechat")
				},
				dataType: "json", //服务器返回json格式数据
				type: 'get', //HTTP请求类型 
				timeout: 60000, //超时时间设置为60秒；
				success: function(result) { //服务器返回响应
					console.log(result);
					if(result == null){
						window.location.href='view/wechat/info1.html';
					}else{
						var role = result.rolePower;
						if(role == 1){
							window.location.href='view/wechat/jilu1.html';
						}else if(role == 2){
							window.location.href='view/wechat/jilu2.html';
						}else if(role == 3){
							window.location.href='view/wechat/jilu3.html';
						}
					}
				},
				error: function(xhr, type, errorThrown) {
					console.log(errorThrown)
				}
			}); 
		});
		
	});//end_ready

	function getUrlParms(name) {
	    let tstr = window.location.href;
	    let index = tstr.indexOf('?')
	    let str = tstr.substring(index + 1);
	    let arr = str.split('&');
	    let result = {};
	    arr.forEach((item) => {
	        let a = item.split('=');
	        result[a[0]] = a[1];
	    })
	    return result[name];
	}
</script>

</html>
