<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">		
		<title></title>
		<base href="/hotCheng/" />
		<script src="static/js/mui.min.js"></script>
	    <script type="text/javascript" src="static/js/mui.picker.min.js" ></script>
	    <link href="static/css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" href="static/css/mui.picker.min.css" />
		<link rel="stylesheet" href="static/css/common.css">
		<link rel="stylesheet" href="static/css/smIndex.css">	    
		<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
	</head>
	<body>
		<header>
			<img src="static/img/headTitle.png" class="headTitle">
			<div class="headsy"><a href="view/wechat/index.html"></a></div>
		</header>
		<div class="mainBg"></div>
		<!-- -->				
		<div class="taikeContainer">
			<img src="static/img/taike.png" class="taikeLogo"/>
			<div class="containerBox" style="margin-bottom: 15px;">
				<div class="taikeBtn" style="text-align: center;" >
				<a style="color:#fff;" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8666da66ca071393&redirect_uri=http://lancev.com/hotCheng/index/WeiXinTest.action&response_type=code&scope=snsapi_userinfo&state=STATE&connect_redirect=1#wechat_redirect" >登&nbsp;&nbsp;录</a></div>
			</div>
		</div>
		
		<!--footer -->
		<footer>
			<div class="foot1">
				<span>移动版</span>
				<span>&nbsp;|&nbsp;</span>
				<a href="javascript:;">热骋</a>
			</div>
			<div class="foot2">系统版本<i>RC5861-1.07 .13499s</i></div>

		</footer>
		

		<script>
		window.addEventListener("pageshow", ready);
		function ready(){
			//var scanWechat = localStorage.getItem("scanWechat");
			/* document.getElementById("login").addEventListener("click", function() {
				
				 mui.ajax("https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8666da66ca071393&redirect_uri=http://lancev.com/hotCheng/index/WeiXinLogin.action&response_type=code&scope=snsapi_userinfo&state=STATE&connect_redirect=1#wechat_redirect", {
					data: {},
					dataType: "json", //服务器返回json格式数据
					type: 'get', //HTTP请求类型 
					timeout: 60000, //超时时间设置为60秒；
					success: function(result) { //服务器返回响应
						console.log(result);
					
						var isBlack = result.isBlack;
						localStorage.setItem("scanWechat",result.openId);
						localStorage.setItem("nickName",result.nickName);
						if(isBlack == 1){
							//去识别码页面输入识别码
							window.location.href='view/wechat/login1.html';
						}else if(isBlack == 0){
								//去查询页面
								window.location.href='view/wechat/chaxun.html';
						}else if(isBlack == 2){
							//去联系管理员页面
							window.location.href='view/wechat/login3.html';
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(errorThrown)
					}
				});  
			}); */
		}
		</script>
			

</body></html>