<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<base href="/hotCheng/" />
		<title></title>	
		<link rel="stylesheet" type="text/css" href="static/style/avatar/style.css" />				
	    <script src="static/js/jquery-1.9.1.min.js"></script>
		<script src="static/js/tool.js"></script>	
		<script src="static/js/cropbox.js"></script>	
<title>Insert title here</title>
</head>
<body>
<header>this is a test</header>
<div>
<button onclick="query()">查询</button>
</div>
<script>
function query(){
	alert(1)
}
</script>
</body>
</html>